<p id="notice"><%= notice %></p>

<p>
  <strong>Entity:</strong>
  <%= @appointment.entity_id %>
</p>

<p>
  <strong>Entity type:</strong>
  <%= @appointment.entity_type %>
</p>

<p>
  <strong>Role:</strong>
  <%= @appointment.role_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
